.col-md-3
  .offer-listing
    ul
      li
        a(href="/softwareproduct")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].softwareProducts}
      li
        a(href="/consultingservice")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].consulting}
      li
        a(href="/msp")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].msp}
      li
        a(href="/specializedanalyse")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].specialiseAnyalise}
      li
        a(href="#")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].technologyResale}