#header-top
  .container
    .row
      .col-md-6
        .navbar-header
          .navbar-brand
            a(href="#")
              img(src='#{data.navbars[0].LogoPic}', alt="logo")
      .col-md-6
        .top-contact
          .box-1
            img(src='#{data.navbars[0].mailPic}')
            span  #{data.navbars[0].mailstring}
          .box-2
            img(src='#{data.navbars[0].contactPic}')
            span #{data.navbars[0].contactstring}